taccess
<FilesMatch "\.htaccess|config\.php|composer\.json|composer\.lock|vendor|\.gitignore|install\.php|cron\.sh|config|config\/deploy\.rb|scheduler_cron\.sh|downloader|scripts|shell|includes|dev|LICENSE.txt|LICENSE.html|RELEASE_NOTES.txt|\.htaccess\.sample|LICENSE_AFL.txt">

    Order allow,deny
    Deny from all

</FilesMatch>
